[Unit]
Description=Blynk IoT Server
After=network.target

[Service]
ExecStart=/home/pi/blynk_server/start_blynk_server.sh
WorkingDirectory=/home/pi/blynk_server
StandardOutput=inherit
StandardError=inherit
Restart=Always

[Install]
WantedBy=multi-user.target
